html, body {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  min-height: 3em;
  text-align: left;
  justify-content: center;
  margin-left: 25px;
  text-decoration: underline;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-header {
  background-image: url('images/book-case.jpg');
  background-size: contain;
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  text-shadow:
      3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 768px) {
  .App-header {
    font-size: 3em;
  }

  footer {
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
  .App-header {
    font-size: 3.5em;
  }
}

@media (min-width: 1200px) {
  footer {
    margin-left: 80px;
  }
}

/**
* Book
*/

.book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book {
  display: flex;
  flex-direction: column;
  width: 135px;
  margin: 25px 15px 10px 15px;
}

.book-img {
  height: 185px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book p {
  width: 100%;
  margin: 10px 0 0 0;
}

.book-control {
  width: inherit;
  height: 20px;
  position: relative;
  bottom: 20px;
  left: 10px;
}

.book-control button {
  border: 1px solid #000;
  background: linear-gradient(120deg,#f8048a, #f17b0c);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  float: right;
  cursor: pointer;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.4);
}

.book-control button:hover {
  border: 2px solid #000;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.book-control button:active {
  background-color: #000;
}

.book-control button:focus {
  outline: none;
}

.drop-arrow {
  padding-top: 5px;
  pointer-events: none;
}

.option-select {
  display: none;
}

.rating-star:hover {
  fill: yellow;
  cursor: pointer;
}

#title {
  font-weight: bold;
}

#author {
  font-size: 0.9em;
  font-style: italic;
  z-index: -1;
  margin-top: 5px;
}

/**
* shelf screen
*/
.shelf h2 {
  border-bottom: 1px solid grey;
  margin: 25px 15px 5px 15px;
  font-size: 2em;
  padding-bottom: 10px;
}

.search-books {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 30px;
  background: linear-gradient(120deg,#f8048a, #f17b0c);
  color: #fff;
  border: 1px solid #000;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 3em;
  line-height: 40px;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.4);
}

.search-books:hover {
  width: 48px;
  height: 48px;
  border: 2px solid #000;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

#shelf-books-container {
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 600px) {
  .search-books {
    bottom: 20px;
  }

  .shelf h2 {
    margin: 25px 40px 0 40px;
  }
}

@media (min-width: 768px) {
  .search-books {
    right: 40px;
    bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .search-books {
    right: 80px;
    bottom: 30px;
  }

  .shelf h2 {
    margin: 25px 70px 0 70px;
  }
}

/**
* Search screen
*/

.search-screen {
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  flex-direction: row;
  padding: 15px 0 10px 25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  align-items: center;
}

.back-button {
  height: 6vmin;
}

#back-btn {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#search-input input {
  border: none;
  font-size: 1.4em;
}

#search-input input:focus {
  outline: none;
}

#search-book-container {
  justify-content: space-evenly;
  margin-top: 30px;
}

#no-books-found {
  display: none;
  line-height: 10em;
  font-size: 2em;
}

@media (min-width: 768px) {
  #search-input input {
    font-size: 1.8em;
  }
}
