.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.shelf {
  margin: 0 2em;
}

.shelf-books-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: solid 1px grey;
}

.book {
  width: 135px;
  margin: 0 15px;
}

.book p {
  width: 100%;
  margin: 10px 0;
}
